<div class="inner-content">
    <h3>
        Settings
    </h3>

    <div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" width="100%">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Key</th>
                    <th class="mdl-data-table__cell--non-numeric">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">API URL</td>
                    <td class="mdl-data-table__cell--non-numeric">{{api}}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Network Definition (Backend Settings)</td>
                    <td class="mdl-data-table__cell--non-numeric">{{apiSettings.file}}</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Reservatien Duration in Minutes (Backend Settings)</td>
                    <td class="mdl-data-table__cell--non-numeric">{{apiSettings.lockDuration}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div
